@model FoodBank.Core.Dto.Company.CompanyIndexModel



@{
    ViewBag.Title = "Supplier";
    ViewBag.MenuItem = "supplier";
}
@section pagejs{
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/assets/js/pages/datatables_advanced.js"></script>

    @* @Html.Partial("~/Views/Shared/Modal/DeleteModal.cshtml", Url.Action("Remove", "Supplier"))*@

}
<!-- Page header -->
@Html.Partial("Page/PageHeader")
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <!-- Page length options -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Supplier</h5>
            <div class="heading-elements">

                <div class="text-right">
                 
                </div>

            </div>
        </div>
        <div class="panel-body">
            Supplier
        </div>
        <table class="table datatable-show-all">
            <thead>
            <tr>
                <th>Logo</th>
                <th>Supplier Name</th>
                <th>Contact Name</th>
                <th>Contact Phone Number</th>
                <th>Number of Branches</th>

                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.CompanyIndexItemModels)
            {
                <tr>
                    <td><a href="@Url.Action("Detail", "Company", new {id = item.CompanyId})">@item.CompanyId</a></td>
                    <td>@item.ContactName</td>
                    <td>@item.ContactName</td>


                    <td class="text-center">
                        <ul class="icons-list">

                            <li class="text-primary-600"><a href="@Url.Action("Detail", "Company", new {id = @item.CompanyId, area = ""})"><i class="icon-pencil7"></i></a></li>
                         
                        </ul>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>
    <!-- /page length options -->


</div>
<!-- /content area -->
