
<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
<li class="@(ViewBag.MenuItem == "Dashboard" ? "active" : "")"><a href="@Url.Action("Index","Dashboard",new {area=""})"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
<li class="@(ViewBag.MenuItem == "DocumentType" ? "active" : "")"><a href="@Url.Action("Index","DocumentType",new {area=""})"><i class="icon-file-text2"></i> <span>Document Type</span></a></li>
<li class="@(ViewBag.MenuItem == "DocumentTemplate" ? "active" : "")"><a href="@Url.Action("Index","DocumentTypeTemplate",new {area=""})"><i class="icon-file-text3"></i> <span>Document Templates</span></a></li>
<li class="@(ViewBag.MenuItem == "ExportTemplate" ? "active" : "")"><a href="@Url.Action("Index","ExportDocTemplate",new {area=""})"><i class="icon-exit"></i> <span>Export Templates</span></a></li>
<li class="@(ViewBag.MenuItem == "Instruction" ? "active" : "")"><a href="@Url.Action("Index","Instruction",new {area=""})"><i class="icon-reading"></i> <span>Instructions</span></a></li>
@*<li class="@(ViewBag.MenuItem == "Matter" ? "active" : "")"><a href="@Url.Action("Index","Matter",new {area=""})"><i class="icon-home4"></i> <span>Matter</span></a></li>*@
<li class="@(ViewBag.MenuItem == "Firm" ? "active" : "")"><a href="@Url.Action("Edit", "Firm", new {area = "Firm"})"> <i class="icon-office"></i> Firm Details</a></li>
<li class="@(ViewBag.MenuItem == "UserSettings" ? "active" : "")"><a href="@Url.Action("Index", "Manage", new {area = ""})"> <i class="icon-user"></i> User Details</a></li>
<li><a onclick="$('#logoutForm1').submit();"><i class="icon-switch2"></i> <span>Logout</span></a></li>