@using FoodBank.Core.Data.Enum
@using FoodBank.Web.Helpers
@model FoodBank.Core.Dto.Company.CompanyCreateModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="panel registration-form">
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="icon-object border-slate-300 text-slate-300">
                                <img src="~/assets/icons/android-icon-72x72.png" />
                            </div>
                            <h5 class="content-group-lg">Create account <small class="display-block">All fields are required</small></h5>
                           
                        </div>
                        <div class="form-group has-feedback">

                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @placeholder = "Company Name" })
                                @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    @*<i class="icon-user-plus text-muted"></i>*@
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group has-feedback">

                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.CompanyAddress1, new { @class = "form-control", @placeholder = "Company Address Line 1" })
                                @Html.ValidationMessageFor(m => m.CompanyAddress1, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    @*<i class="icon-user-plus text-muted"></i>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">

                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.CompanyAddress2, new { @class = "form-control", @placeholder = "Company Address Line 2" })
                                @Html.ValidationMessageFor(m => m.CompanyAddress2, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    @*<i class="icon-user-plus text-muted"></i>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">

                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.CompanyAddress3, new { @class = "form-control", @placeholder = "Company Address Line 3" })
                                @Html.ValidationMessageFor(m => m.CompanyAddress3, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    @*<i class="icon-user-plus text-muted"></i>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">

                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.CompanyTownCity, new { @class = "form-control", @placeholder = "Town / City" })
                                @Html.ValidationMessageFor(m => m.CompanyTownCity, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    @*<i class="icon-user-plus text-muted"></i>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">

                            <div class="form-group has-feedback">
                                @Html.TtcEnumDropDownFor(m => m.CompanyCounty,typeof (County),"Please select County",false)
                                @Html.ValidationMessageFor(m => m.CompanyCounty, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    @*<i class="icon-user-plus text-muted"></i>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">

                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.CompanyContactName, new { @class = "form-control", @placeholder = "Contact Name" })
                                @Html.ValidationMessageFor(m => m.CompanyContactName, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    @*<i class="icon-user-plus text-muted"></i>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">

                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.CompanyContactPhoneNumber, new { @class = "form-control", @placeholder = "Contact Phone Number" })
                                @Html.ValidationMessageFor(m => m.CompanyContactPhoneNumber, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    @*<i class="icon-user-plus text-muted"></i>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group has-feedback">

                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.CompanyContactEmailAddress, new { @class = "form-control", @placeholder = "Contact Email Address" })
                                @Html.ValidationMessageFor(m => m.CompanyContactEmailAddress, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    @*<i class="icon-user-plus text-muted"></i>*@
                                </div>
                            </div>
                        </div>
                     
                        <div class="form-group has-feedback">

                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "Email Address" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                <div class="form-control-feedback">
                                    @*<i class="icon-user-plus text-muted"></i>*@
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                    <div class="form-control-feedback">
                                        <i class="icon-user-check text-muted"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                    <div class="form-control-feedback">
                                        <i class="icon-user-check text-muted"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    <div class="form-control-feedback">
                                        <i class="icon-user-lock text-muted"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group has-feedback">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    <div class="form-control-feedback">
                                        <i class="icon-user-lock text-muted"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                   @Html.CheckBoxFor(o => o.IsTermsConfirmed, new { @class = "styled" })

                                    Accept <a href="@Url.Action("Terms", "Home")">terms of service</a>
                                    @Html.ValidationMessageFor(m => m.IsTermsConfirmed, "", new { @class = "text-danger" })
                                </label>
                            </div>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="text-right">
                            <a href="@Url.Action("Login", "Account")" class="btn btn-link"><i class="icon-arrow-left13 position-left"></i> Back to login form</a>
                            <button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i class="icon-plus3"></i></b> Create account</button>
                        </div>
                        <div class="text-center">
                           
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


}

@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
