@model FoodBank.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

}



@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)
    <div class="panel panel-body login-form">
        <div class="text-center">
            <div class="icon-object border-slate-300 text-slate-300">
                <img src="~/assets/icons/android-icon-72x72.png" />
            </div>
            <h5 class="content-group">Reset your password <small class="display-block">Enter your credentials below</small></h5>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "EmailAddress" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
        </div>


        <div class="form-group has-feedback has-feedback-left">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
            </div>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
            </div>
        </div>


        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger alert-bordered" })
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Send reset link <i class="icon-circle-right2 position-right"></i></button>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
