@model FoodBank.Core.Dto.Product.ProductIndexModel

@{
    ViewBag.Title = "Products";
    ViewBag.MenuItem = "Product";
}
@section pagejs{
    <script type="text/javascript" src="/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>

    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/assets/js/pages/datatables_advanced.js"></script>

    @* @Html.Partial("~/Views/Shared/Modal/DeleteModal.cshtml", Url.Action("Remove", "Product"))*@

}
<!-- Page header -->
@Html.Partial("Page/PageHeader")
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <!-- Page length options -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Products</h5>
            <div class="heading-elements">

                <div class="text-right">
                    <a href="@Url.Action("Create", "Product", new {area = ""})" class="btn btn-primary">Add New</a>
                </div>

            </div>
        </div>
        <div class="panel-body">
            Products
        </div>
        <table class="table datatable-show-all">
            <thead>
            <tr>
                <th>ProductName</th>
                <th>ProductName</th>
                <th>ProductName</th>
                <th>ProductName</th>
                <th>ProductName</th>
                <th>ProductName</th>


                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.ProductIndexItemModels)
            {
                <tr>
                    <td><a href="@Url.Action("Edit", "Product", new {id = item.ProductId})">@item.ProductName</a></td>
                    <td><a href="@Url.Action("Edit", "Product", new {id = item.ProductId})">@item.ProductName</a></td>
                    <td><a href="@Url.Action("Edit", "Product", new {id = item.ProductId})">@item.ProductName</a></td>
                    <td><a href="@Url.Action("Edit", "Product", new {id = item.ProductId})">@item.ProductName</a></td>
                    <td><a href="@Url.Action("Edit", "Product", new {id = item.ProductId})">@item.ProductName</a></td>
                    <td><a href="@Url.Action("Edit", "Product", new {id = item.ProductId})">@item.ProductName</a></td>



                    <td class="text-center">
                        <ul class="icons-list">

                            <li class="text-primary-600"><a href="@Url.Action("Edit", "Product", new {id = @item.ProductId, area = ""})"><i class="icon-pencil7"></i></a></li>
                            <li class="text-danger-600"><a href="" class="deleteitem" data-target="#modaldelete" data-toggle="modal" data-id="@item.ProductId"><i class="icon-trash"></i></a></li>
                        </ul>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>
    <!-- /page length options -->


</div>
<!-- /content area -->
